:root {
    --mainFont: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    --lightColour: #C9E4E7;
    --medColour: #477CE5;
    --darkColour: #352A6B;
}

/* * {
    background-color: var(--lightColour);
} */

h1, h3 {
    font-family: var(--mainFont);
    color: var(--darkColour);
}

<<<<<<< HEAD
<<<<<<< HEAD

body {

    background-color: var(--lightColour);

}

form{

    margin: 40px;
    padding: 7px;
    border: 3px solid white;
    background-color: white;
    box-shadow: 1px 5px 5px #352A6B;
    border-radius: 10px;

}

input[type=text], input[type=password]{

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 5px;
    box-sizing: border-box;
}

button{

    background-color: #477CE5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover{

    opacity: 0.8;

}

=======
p.comment {

}
>>>>>>> frontend
=======
div.comment > p {
    font-family: var(--mainFont);
    color: var(--medColour);
}
>>>>>>> frontend
