:root {
    --mainFont: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    --lightColour: #C9E4E7;
}

h1, h3 {
    font-family: var(--mainFont);
    color: #352A6B;
}

p.comment {

}