:root {
	--mainFont: 'Limelight';
	--lightestHue: white;
	--lightHue: grey;
	/* --lightColour: #C9E4E7;
    --medColour: #477CE5;
    --darkColour: #352A6B;
    --darkerColour: #2C2D42; */
	--white: #ffffff;
	--lightColour: #8a8a8a;
	--medColour: #333542;
	--darkColour: #1e1e26;
	--darkerColour: #1e1e26;
}

* {
    box-sizing: border-box;
}

body {
	background-color: var(--medColour);
	background-size: 100vw;
	font-family: "Lato", sans-serif;
	margin: 0px;
}

.text-center {
	margin: 10px;
}

.slides{
   display: block;
   padding: 15px;
   text-align: center;
}

#pslides{
    height: 40vh;
    width: 50vh;
    margin: auto;
}

h1,
h3 {
	font-family: var(--mainFont);
	color: var(--lightColour);
	font-weight: bolder;
	font-size: 70px;
	text-shadow: 3px 3px var(--darkColour);
}

nav {
	background-color: var(--darkerColour);
}

form {
	margin: 80px;
	padding: 15px;
	border: 3px solid var(--lightestHue);
	background-color: var(--lightestHue);
	box-shadow: 1px 5px 10px var(--darkColour);
	border-radius: 10px;
	display: block;
}

input[type=text],
input[type=password],
input[type=email] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid var(--lightHue);
	border-radius: 5px;
	box-sizing: border-box;
	background-color: var(--lightestHue);
}

.email {
	display: none;
	width: 100%;
}

.lgbutton {
	background-color: var(--med);
	color: var(--lightestHue);
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

button:hover {
	opacity: 0.8;
}

#signup {
	background-color: var(--lightestHue);
	color: var(--medColour);
	border: var(--lightestHue);
	padding: 2px;
	box-shadow: none;
	text-shadow: none;
	display: inline-block;
}

.subox {
	text-align: center;
}

div.comment > p {
	font-family: var(--mainFont);
	color: var(--medColour);
}

.bg {
	background-color: var(--medColour) !important;
}

li {
	margin: 10px;
}

.back-ground {
	background-color: var(--medColour);
}

#comments {
	background-color: var(--lightColour);
}

/* ********************************************* */
/* ********************************************* */
/* APPENDED CSS */

::-webkit-scrollbar {
	display: none;
}

.nav-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: var(--darkColour);
	vertical-align: text-bottom;
	padding-left: 1.25vw;
	padding-top: 1%;
	padding-bottom: 1.5%;
    box-shadow: 0 4px 2px -2px var(--lightColour);
    text-decoration: none;
    font-family: "Lato", sans-serif;
}

.nav-link-wrapper {
	margin-top: 20px;
	margin-left: 5.5%;
	text-transform: uppercase;
	font-size: 0.9em;
	transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
	color: var(--lightColour);
	text-decoration: none;
	transition: color 0.5s;
}

.nav-link-wrapper:hover {
	border-bottom: 1px solid var(--lightestHue);
}

.nav-link-wrapper a:hover {
	color: var(--lightestHue);
}

.nav-option {
	margin-left: 10%;
}

.nav-option-selected {
	border-bottom: 1px solid var(--white);
	margin-left: 10%;
}

.nav-option-selected a {
	color: var(--white);
}

.nav-text-selected {
	color: var(--lightestHue);
}

.select-div {
	margin-left: 5.5%;
	margin-top: 20px;
}

.brand {
	float: right;
}

.left-side {
	display: flex;
}

.right-side {
	margin-right: 3%;
}

.imgContainer > img {
	width: 40px;
	height: 40px;
}

.imgContainer {
	/* display: inline-block; */
	float: left;
	background-color: #1e1e26;
}
